/* LoginEmailAndMobile CSS Module */

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 6;
  padding-bottom: 1;
  padding-top: 10;
}

.label {
  padding-bottom: 1;
  font-size: 14px;
}

.labelActive {
  color: black;
  padding-bottom: 1;
  font-size: 14px;
  margin-top: 2;
}

.labelInactive {
  color: #949494;
  padding-bottom: 1;
  font-size: 14px;
  margin-top: 2;
}

.labelMobile {
  color: black;
  padding-bottom: 1;
  font-size: 14px;
}

.labelMobileInactive {
  color: #949494;
  padding-bottom: 1;
  font-size: 14px;
}

.labelOtp {
  color: black;
  padding-bottom: 1;
  margin-left: 12px;
  font-size: 14px;
}

.asteriskActive {
  color: red;
}

.asteriskInactive {
  color: #949494;
}

.errorText {
  color: red;
  font-size: 12px;
}

.otpText {
  font-weight: 600;
}

.changeText {
  color: #1d1d1e;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  display: flex;
}

.termsLink {
  color: #1d1d1e;
  border: 1px;
  font-weight: 600;
  text-decoration: underline;
}
